*{margin:0; padding:0;}
body{font-family: Lato; overflow:hidden;}
#panel, .flip-dv {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
   divmap
}

#loader{position: absolute;
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 999;}

#flip .fa{    background: #ccc;
    border-radius: 3px;
    padding: 6px 10px;
    color: #666;
    font-size: 21px;}
	
.flip-dv{width: inherit; position:absolute; height:100vh; border: 0;
    background:transparent;
    /*border-left: 1px dashed #fff;
    border-right: 1px dashed #fff;*/
	    padding-top: 0;
		    padding-bottom: 0;
			padding: 0;
	/*background: url(../images/menu-bg.png);*/
    }
	
#flip{/*padding-top: 21px;*/ position: absolute;
    bottom: 13px; z-index: 99;}	

#content{padding-left: 0px; width: 100%; height: 100vh; box-sizing: border-box;     padding-top: 0;
    padding-bottom: 0;
    -moz-box-sizing: border-box;}
	
#panel{    background: #ccc;
    position: absolute;
    width: 240px;
    height: 100%;
    left: -240px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	    padding: 0;
    text-align: left;
    border: 0;
	background: url(../images/submenu.png);
	padding: 20px 20px 20px 0px;
	background-position:right;}
	
.container{position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;}
	
#panel ul{    margin: 0;
    padding: 0 10px;
    list-style: none;
	padding: 0;
    list-style: none;
    height: 100%;
    background: #fff;
	    padding: 0 8px;
    
    border-radius: 0 10px 10px 0;}

#panel ul li{margin: 0;}

#panel ul li a{padding: 15px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #6d6e70;
    text-decoration: none;
    display: block;
    /*border-bottom: 1px solid #999;*/
	border-bottom: 1px solid #e5e5e5;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;}

#panel ul li a .fa{color: #5e3925; width: 25px; font-size: 23px;}

.container.rwded{left: 240px;}

#search-map{background: #488bf8;
    color: #fff;
    height: 36px;
    border: 1px solid #0f4db2;
    padding: 0 31px;
    font-size: 16px;
    border-radius: 0;
    margin-top: 20.1px;
    margin-left: 3px;} 
	
#txtSearchText{height: 35px;
    border: 1px solid #ddd;
    margin-top: 60px;
    margin-left: 25px;
    width: 300px;
    box-shadow: 0 0px 4px #eee;
	padding: 0 5px;
    font-size: 16px;
	vertical-align: baseline;
	border-radius:6px;
	padding-left: 33px;}
	
#divResults{padding-left: 22px; margin-top: 20px;     max-height: 65vh;
    overflow: hidden;
    overflow-y: auto;}
#divResults table{text-align:left;  width: 96%; border-spacing:0px;}
#divResults tr th{padding-bottom: 12px;}
.esriLargeSliderVertical{    margin-left: 10px !important;
    margin-top:50px !important; }
#divResults tr td{border-bottom: 1px solid #e5e5e5;
    margin-bottom: 65px;
    height: 28px;     padding-left: 14px;
	    padding-bottom: 3px;
    vertical-align: middle;}
#divResults tr td a{text-decoration:none; font-size:15px; color:gray;}
#divMain{height:100vh !important; width:100% !important;}
#mapDiv{height:100vh !important; width:100% !important;}
#divMain_root, #mapDiv_root{width:100% !important; height:100vh !important;}
#OneMapLogo{padding-left: 15px; margin-top: 15px;}
#divMain_gc{}
.dijitReset{padding: 0px 3px !important; background-color: rgba(255,255,255,1);}
.dijit.dijitReset.dijitSliderV tbody{border: 1px solid #e5e5e5;}
#cnti-box-tp{position: absolute; top:0; right:0; background:transparent; height:100vh;}
.inn-cnti{position: absolute;
    bottom: 15px;
    padding: 3px 8px !important;
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 0px 3px #999;
    font-size: 15px;
    right: 15px;
    border-radius: 4px;
	min-width: 160px;}
.hm #cnti-box-tp{left: 77px;}
.inn-cnti label{vertical-align: middle;}
.inn-cnti input{vertical-align: middle;}
.inn-cnti p{display: inline-block;
    vertical-align: baseline;
    text-align: center;     vertical-align: middle;}
	

#loader .fa-spinner{color:#fff; position: absolute; top: 50%;}

.search-icn{position: absolute;
    left: 36px;
    top: 70px;
	color: #5e3925;}

.headingcat td{font-weight: bold; font-size: 16px; border-bottom: 0 !important;
    background: #eee;
    padding-left: 14px !important;
    padding-right: 14px !important;
    height: 24px !important; padding-top: 0px !important; text-transform: uppercase;}


.login-page{background:url(../images/login-bg.png) left top no-repeat; background-size:cover; height:100vh; width:100%; margin:0; padding:0; text-align:center; float:left; color:#fff; font-family: 'Roboto', sans-serif;}

.login-page .login-lft{width:49%; float:left; text-align:right; position:relative; top:40%; text-transform:uppercase;}
.login-page .login-rgt{width:49%; float:right; text-align:left; position:relative; top:40%; text-transform:uppercase;}
.login-page .login-lft a{border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border:2px solid #1a1a1a; background:#000 url(../images/btn.png) left top no-repeat; background-size:cover; color:#fff; padding:20px 0; float:right; text-decoration:none; font-size:34px; width:300px; text-align:center;}
/*.login-page .login-lft a:hover{background:#666 url(../images/btn.png) left top no-repeat;}*/
.login-page .login-rgt a{border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border:2px solid #aa0e0e; background:#f00 url(../images/btn.png) left top no-repeat; background-size:cover; color:#fff; padding:20px 0; float:left; text-decoration:none; font-size:34px; width:300px; text-align:center;}
/*.login-page .login-rgt a:hover{background:#666 url(../images/btn.png) left top no-repeat;}*/
.login-page #login{width:70%; margin:0px auto;}
.login-page .sep{width:100%; float:left; margin:0; padding:0;}
.login-page .login-field{width:70%; float:left; margin:0; padding:0; position:absolute; top:20%; overflow:hidden;}
.login-page .login-field span{width:100%; float:left; text-align:center; font-size:40px; margin:15px 0;}
.login-page .login-field input[type="email"], input[type="password"]{width:95%; float:left; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; padding:0 2%; border:1px solid #ccc; margin:5px 0; background:rgba(255, 255, 255, 0.49); font-size:18px; height:50px;}
.login-page .login-field input[type="button"]{border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border:2px solid #aa0e0e; background:#f00 url(../images/btn.png) left top no-repeat; background-size:cover; color:#fff; padding:20px 0; text-decoration:none; font-size:34px; width:300px; text-align:center; margin:10px 0; text-transform:uppercase;}
/*.login-page .login-field input[type="button"]:hover{background:#666 url(../images/btn.png) left top no-repeat;}*/

.login-page .logo{font-family: 'Pacifico', cursive; font-size:60px; text-shadow:1px 1px 3px #f00;}
.login-page .home{width:100%;}
.login-page .home .logo{margin-bottom:30px;}
.register-box{width: 70%; margin: 0px auto;}
.login-page .register{width:70%; margin:0px auto; font-size:20px;    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10%;
    overflow: hidden;}
.login-page input[type="email"], input[type="password"], input[type="text"]{width:95%; float:left; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; padding:0 2%; border:1px solid #ccc; margin:5px 0; background:rgba(255, 255, 255, 0.49); font-size:18px; height:50px;}
.login-page .register input[type="button"]{border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border:2px solid #aa0e0e; background:#f00 url(../images/btn.png) left top no-repeat; background-size:cover; color:#fff; padding:20px 0; text-decoration:none; font-size:34px; width:300px; text-align:center; margin:10px 0; text-transform:uppercase;}
/*.login-page .register input[type="button"]:hover{background:#666 url(../images/btn.png) left top no-repeat;}*/
.login-page .register .logo{margin-bottom:0px;}

.lg-for a, .lg-create a, .reg-terms a{color: #fff;  text-decoration: none;}
.lg-for a:hover, .lg-create a:hover, .reg-terms a:hover{text-decoration:underline;}
.lg-for, .reg-terms{margin-bottom: 5px; margin-top: 15px;}
#back{border: 2px solid #1a1a1a; background: #000 url(../images/btn.png) left top no-repeat; margin-right:25px;}
#otp{margin-bottom: 20px; margin-top:23px;}
.act-tap{margin-bottom: 7px;}
.act-res{margin-bottom: 20px;}
.act-tap a, .act-res a{color: #18fcff;}
#errrdg{color:#2eff18 !important; margin-top: 20px;}

.for-popup{background: rgba(0,0,0,0.6); height: 100%; width: 100%; position: absolute; top: 0; left: 0;}
.popup-box{background:#030303;
    width: 68%;
    margin: 0 auto;
    padding: 1.5% 1%;
    margin-top: 50%;
	position: relative;
	border: 3px solid #505050;}

.popup-box h2{font-weight: normal; font-size: 30px;}
.popup-box h2 .close{position: absolute; top: 11px; right: 11px;  font-size: 21px; display:none;}
.popup-box h3{font-weight: 100;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;}
#forgetpas label{float: left;}
.cencel-pass{
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-size: cover;
    color: #fff;
    padding: 20px 0;
    text-decoration: none;
    font-size: 34px;
    width: 300px;
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
	border: 2px solid #ccc;
    background: #000 url(../images/btn.png) left top no-repeat;
    margin-right: 25px;
	display:inline-block;}
.send-pass{    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid #ccc;
    background: #f00 url(../images/btn.png) left top no-repeat;
    background-size: cover;
    color: #fff;
    padding: 20px 0;
    text-decoration: none;
    font-size: 34px;
    width: 300px;
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
	display:inline-block;}
.bnt-box-for{margin-top: 10px;}

#mobileno{width: 85%; border-radius: 0 5px 5px 0;}
#countries{width: 10%;
    height: 52px;
    float: left;
    margin: 5px 0;
    background-color: #edebeb;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #ccc;
    border-right: 0;
	font-size: 18px;
    background: #edebeb;
	padding: 0 12px;}

/*select.regfrm option {
background-repeat:no-repeat;
background-position:bottom left;
padding-left:30px;
}
select#countries option[value="SINGAPORE"] {
background-image:url(../images/sg-flag.png);
}*/

::-webkit-input-placeholder {
    color:    #fff;
}
:-moz-placeholder {
    color:    #fff;
}
::-moz-placeholder {
    color:    #fff;
}
:-ms-input-placeholder {
    color:    #fff;
}


/* menu-5 */
ul.wtf-menu{
	margin: 100px auto 0px;
	padding: 0;
	/*width: 960px;*/
	background: #333;
	/*height: 36px;*/
	border-radius:0;
	font-size: 14px;

	/*-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.3)*/;
}

ul.wtf-menu li{
	list-style: none;
	float: left;
	padding: 0px 0px;
	margin: 0px 0px;
	/*line-height: 36px;*/
	display: block;
	position: relative;
	text-transform: uppercase;
}

ul.wtf-menu li a{
	color: #fff;
	padding: 6px 15px;
	margin: 0px 0px;
	display: block;
	border-right: 1px solid #222;
	text-decoration: none;
	background: #333;
}
ul.wtf-menu li:nth-last-child(1) a{border-right:0;}

ul.wtf-menu li a:hover{
	color:#fff;
	background:#dd1820;
}

.wtf-menu ul.submenu{
	width: 110px;
	padding: 0px 0px;
	margin: 0px;
	background: #fff;
	position: absolute;
	bottom: 47px;
	left:-25px;
	display:none;
	
	/* 	Dropdown shadow */
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
}

.wtf-menu ul.submenu li a{padding: 0px 15px;}

.wtf-menu ul.submenu ul{
	left: 180px;
	top:0px;
}

.wtf-menu ul.submenu li{
	padding: 0px;
	margin: 0px;
	display: block;
	float: none;
	border-bottom: 1px solid #222;
	line-height: 36px;
	text-transform: none;
}
.wtf-menu ul.submenu li a{border-right:0;}

.wtf-menu ul.submenu li:last-child{
	border: none;
}


/* Add arrows */

/*ul.wtf-menu li.parent a{
	padding: 0px 20px 0px 15px; 
}*/

.menu-5 .wtf-menu li:hover > ul{
	display: block;
	-moz-animation: flipInX .3s ease-in;
    -webkit-animation: flipInX .3s ease-in ;
    animation: flipInX .3s ease-in;
   

}

.menu-5 .wtf-menu ul li:hover > ul{
	display:block;
	-moz-animation: flipInY .3s ease-in ;
    -webkit-animation: flipInY .3s ease-in ;
    animation: flipInY .3s ease-in;
}

.rht-menu {position: absolute; bottom: 80px; right: 15px; border-radius: 4px;}
.wtf-menu li a .fa{display: block;
    margin-bottom:0px;
    text-align: center;
    font-size: 18px;}
.did{margin-bottom: 10px;}

.search-page{background: url(../images/search-bg.jpg);
    padding: 20px 20px 20px 0px;
    background-position: right;
	 background-repeat: no-repeat;}
	
@media (max-width:1024px){
	html{overflow-x: hidden; overflow-y:hidden;}
	.inn-cnti{width:160px;}
.login-page .home{margin:10% 0 0;}
#txtSearchText{border-radius: 25px; height: 45px; padding-left: 45px; font-size: 20px; padding-right: 10px;}
.search-icn{left: 33px; top: 65px; font-size: 33px;}

}
	
	
@media (max-width:768px){
.login-page .login-lft a{width:90%; font-size:24px; padding:15px 0;}
.login-page .login-rgt a{width:90%; font-size:24px; padding:15px 0;}

.login-page .login-field input[type="button"]{
width: 46.5%;
    font-size: 24px;
    padding: 15px 0;
    margin: 20px 0 0 0;
}
#countries{height: 42px;}
.login-page .login-field input[type="button"]{padding:10px 0;}
.login-page .home{margin:15% 0 0;}
.login-page .register input[type="button"] {
    padding: 10px 0; margin:20px 0 0 0; width:46.5%;
}
.login-page .register input[type="email"], input[type="password"], input[type="text"]{height:40px;}
.login-page .register input[type="button"]{font-size:24px;}
.login-page .login-field input[type="email"], input[type="password"]{height:40px;}

#txtSearchText{width: 350px; border-radius: 25px; height: 50px; font-size: 20px; padding-left: 50px;}
.search-icn{font-size: 35px;}
.popup-box{padding: 12px 15px;}
.cencel-pass, .send-pass{width: 46%; padding: 10px 0; font-size: 24px;}
.login-page .login-field{top: 10%;}
#mobileno{width: 80%;}
#countries{width: 15%; padding-left: 6px; font-size: 16px;}
}

@media (max-width:736px){
.login-page .home{margin:0;}
/*.login-page .register{overflow-x:scroll; height:390px;}*/
.login-page .register input[type="email"], input[type="password"], input[type="text"]{font-size:16px;}
.login-page .login-field input[type="email"], input[type="password"]{font-size:16px; height:40px;}

#txtSearchText{padding-left: 45px;}
#txtSearchText{height: 45px;}
.cencel-pass, .send-pass{width: 45%;}
}


@media (max-width:568px){
#flip .fa{padding: 3px 7px;}
/*.flip-dv{width: 36px;}*/
#content{padding-left: 0;}
#txtSearchText{width: 320px;/*     height: 28px;*/}
#search-map{padding: 0 22px; height: 28px; font-size: 14px;}
#divResults tr td a{font-size: 14px;}
#panel{padding-left: 50px;}
.container.rwded{left: 190px;}
#panel ul li a{font-size: 18px;}
.login-page .logo{font-size:40px;}
.login-page .login-field{top:3%;}
#back{margin-right: 5%;}
.login-page .login-field input[type="button"]{margin-top: 10px;}
.cencel-pass, .send-pass{width: 46.5%;}
.cencel-pass{margin-right: 3%;}
.popup-box h2{font-size: 24px;}
.popup-box h3{font-size: 16px;}
.cencel-pass, .send-pass{font-size: 20px;}
#countries{width: 20%;}
#mobileno{width: 75%;}
.login-page .register input[type="button"]{margin-top: 10px;}
}

@media (max-width:414px){
#txtSearchText{width: 250px;}
.login-page .login-lft{top:43%;}
.login-page .login-rgt{top:43%;}
.login-page .login-field {
    top: 25%;
}
.login-page .home{margin:10% 0 0 0;}
.login-page .register{overflow-x:auto; height:auto;}
.login-page .login-field input[type="button"]{width: 48.5%;}
#back{margin-right: 3%;}
.cencel-pass{margin-right: 1%;}
.cencel-pass, .send-pass{font-size: 18px;}
#countries{width: 25%;}
#mobileno{width: 70%;}
#back{margin-right: 1%;}
.login-page .register input[type="button"]{width: 48.5%;}
	}
	
@media (max-width:375px){
#txtSearchText{width: 250px;/* height: 25px;*/}
#search-map{padding: 0 11px;
    height: 25px;}
#cnti-box-tp input{width: 86px;}
.login-page .login-lft a{padding:10px 0;}
.login-page .login-rgt a{padding:10px 0;}
.login-page .register{font-size:17px;}
.login-page .login-field input[type="button"], .login-page .register input[type="button"]{font-size: 20px;}
.popup-box h2{font-size: 20px;}
.cencel-pass, .send-pass{padding: 8px 0;}
	}
@media (max-width:360px){
.login-page .login-field{top:25%;}

}
@media (max-width:320px){
#txtSearchText{width: 250px;}
#search-map{font-size: 12px;}
.container.rwded{left: 150px;}
#panel{    padding-left: 85px;}
#panel ul li a{font-size: 14px;}
.login-page .login-field input[type="button"], .login-page .register input[type="button"], .login-page .register input[type="button"]{font-size: 18px; padding: 8px 0;}
.login-page input[type="email"], input[type="password"], input[type="text"]{height: 40px;}
.cencel-pass, .send-pass{padding: 7px 0; font-size: 15px;}
#mobileno{width: 65%;}
#countries{width: 30%;}
	}