*{margin:0; padding:0;}
body{font-family: Lato; overflow:hidden;}
#panel, .flip-dv {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
   divmap
}

#flip .fa{    background: #ccc;
    border-radius: 3px;
    padding: 6px 10px;
    color: #666;
    font-size: 21px;}
	
.flip-dv{width: inherit; position:absolute; height:100vh; border: 0;
    background:transparent;
    /*border-left: 1px dashed #fff;
    border-right: 1px dashed #fff;*/
	    padding-top: 0;
		    padding-bottom: 0;
			padding: 0;
	/*background: url(../images/menu-bg.png);*/
    }
	
#flip{/*padding-top: 21px;*/ position: absolute;
    bottom: 13px; z-index: 99;}	

#content{padding-left: 0px; width: 100%; height: 100vh; box-sizing: border-box;     padding-top: 0;
    padding-bottom: 0;
    -moz-box-sizing: border-box;}
	
#panel{    background: #ccc;
    position: absolute;
    width: 240px;
    height: 100%;
    left: -240px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	    padding: 0;
    text-align: left;
    border: 0;
	background: url(../images/submenu.png);
	padding: 20px 20px 20px 0px;
	background-position:right;}
	
.container{position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;}
	
#panel ul{    margin: 0;
    padding: 0 10px;
    list-style: none;
	padding: 0;
    list-style: none;
    height: 100%;
    background: #fff;
	    padding: 0 8px;
    
    border-radius: 0 10px 10px 0;}

#panel ul li{margin: 0;}

#panel ul li a{padding: 15px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #6d6e70;
    text-decoration: none;
    display: block;
    /*border-bottom: 1px solid #999;*/
	border-bottom: 1px solid #e5e5e5;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;}

#panel ul li a .fa{color: #5e3925; width: 20px;}

.container.rwded{left: 240px;}

#search-map{background: #488bf8;
    color: #fff;
    height: 35px;
    border: 1px solid #0f4db2;
    padding: 0 31px;
    font-size: 16px;
	border-radius: 0;} 
	
#txtSearchText{height: 35px;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-left: 25px;
    width: 300px;
    box-shadow: 0 0px 4px #eee;
	padding: 0 5px;
    font-size: 16px;
	vertical-align: baseline;}
	
#divResults{padding-left: 22px; margin-top: 20px;}
#divResults tr th{padding-bottom: 12px;}
.esriLargeSliderVertical{    margin-left: 10px !important;
    margin-top:50px !important;}
#divResults tr td{    border-bottom: 1px solid #ccc;
    margin-bottom: 65px;
    height: 28px;
	    padding-bottom: 3px;
    vertical-align: bottom;}
#divResults tr td a{text-decoration:none; font-size:15px;}
#divMain{height:100vh !important; width:100% !important;}
#mapDiv{height:100vh !important; width:100% !important;}
#divMain_root, #mapDiv_root{width:100% !important; height:100vh !important;}
#OneMapLogo{padding-left: 15px; margin-top: 15px;}
#divMain_gc{}
.dijitReset{padding: 0px 3px !important; background-color: rgba(255,255,255,1);}
.dijit.dijitReset.dijitSliderV tbody{border: 1px solid #e5e5e5;}
#cnti-box-tp{position: absolute; top:0; right:0; background:transparent; height:100vh;}
.inn-cnti{position: absolute;
    bottom: 15px;
    padding: 3px 8px !important;
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 0px 3px #999;
    font-size: 15px;
    right: 15px;
    border-radius: 4px;
	min-width: 160px;}
.hm #cnti-box-tp{left: 77px;}
.inn-cnti label{vertical-align: middle;}
.inn-cnti input{vertical-align: middle;}
.inn-cnti p{display: inline-block;
    vertical-align: baseline;
    text-align: center;     vertical-align: middle;}

@media(max-width:1024px){
	html{overflow-x: hidden; overflow-y:hidden;}
	.inn-cnti{width:160px;}
	}
	
@media(max-width:568px){
#flip .fa{padding: 3px 7px;}
/*.flip-dv{width: 36px;}*/
#content{padding-left: 0;}
#txtSearchText{width: 215px;     height: 28px;}
#search-map{padding: 0 22px; height: 28px; font-size: 14px;}
#divResults tr td a{font-size: 14px;}
#panel{padding-left: 50px;}
.container.rwded{left: 190px;}
#panel ul li a{font-size: 18px;}
}

@media(max-width:414px){
#txtSearchText{width: 200px;}
	}
	
@media(max-width:375px){
#txtSearchText{width: 150px; height: 25px;}
#search-map{padding: 0 11px;
    height: 25px;}
#cnti-box-tp input{width: 86px;}
	}

@media(max-width:320px){
#txtSearchText{width: 140px;}
#search-map{font-size: 12px;}
.container.rwded{left: 150px;}
#panel{    padding-left: 85px;}
#panel ul li a{font-size: 14px;}
	}